<div class="myBody">

    <nav class="navbar myNavbar navbar-light ">
        <span class="navbar-brand mb-0 h1 text-center text-light"> PocketChef <img class="float-left"
                style="width: 7vw;" src="/assets/chef.png"></span>

    </nav>
    <!--FORMULARIO-->
    <div class="container"
        style="margin-top: 70px; margin-bottom: 70px; OVERFLOW: scroll; height: calc(100vh - 140px);">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                            <div class="form-group">
                                   
                                 
                                    <span class="file-input btn btn-primary btn-file">
                                            Selecciona una imagen&hellip; <input type="file"  id="file" name="myImg"
                                            (change)="handleFileInput($event.target.files)">
                                        </span>
                                </div>


                    </div>
                </div>
                <form #myForm="ngForm" autocomplete="off" (ngSubmit)="sendData(myForm)">
                    <div class="row mt-1">
                        <div class="col-12">
                            <!--Nombre-->
                            <div class="form-group">
                                <label for="nameInput">Nombre del plato</label>
                                <input [(ngModel)]="formData['nombre']" name="nombreReceta" type="text"
                                    class="form-control" id="nameInput" placeholder="Introduce el nombre"
                                    #name="ngModel" required pattern="[A-zÀ-ú'  *']*">
                                <small *ngIf="name.invalid && name.dirty" class="form-text error">Introduce un nombre
                                    válido</small>
                                <small *ngIf="name.invalid && name.touched && name.pristine"
                                    class="form-text error">Este
                                    campo es obligatorio</small>

                            </div>
                        </div>
                    </div>
                    {{this.ingredientesParaMandar}}

                    <div class="row">
                        <!--INGREDIENTES-->
                        <div class="autocomplete col-12">
                            <label for="ingredientesInput">Ingrediente y cantidad</label>
                            <input id="ingredientesInput" class="form-control" type="text" name="ingredientesReceta"
                                placeholder="Ingrediente" required pattern="[A-zÀ-ú]*">
                        </div>
                    </div>





                    <!--CANTIDADES-->
                    <div class="row mt-0">
                        <div class="col-12">

                            <!--EVENT KEYPRESS--> <input type="text" class="form-control"
                                (keypress)="addCantidad($event);" name="cantidadesReceta" id="cantidadesInput"
                                placeholder="Cantidad" required pattern="[A-zÀ-ú]*">
                            <small *ngIf="name.invalid && name.dirty" class="form-text error">Introduce un texto
                                válido</small>
                            <small *ngIf="name.invalid && name.touched && name.pristine" class="form-text error">Este
                                campo es obligatorio</small>


                            <p class="mt-1">Tu lista:</p>
                            <div class="cantidades row" *ngFor="let cantidad of cantidades, let i = index">
                                <div class="col-12">
                                    <p class="cantidades">· {{cantidad}} <span (click)="removeCantidad(i)"
                                            class="float-right bold text-danger">X</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                



                    <div class="row">
                        <div class="col-12">
                            <!--Elaboración-->
                            <div class="form-group">
                                <label for="descripcion"> Elaboración </label>
                                <textarea [(ngModel)]="formData['instrucciones']" maxlength="10000" required
                                    name="descripcion" style="height: 20vh;" class="form-control" id="elaboracionInput"
                                    aria-describedby="descriptionHelp" placeholder="Introduce los pasos a seguir"
                                    #descripcion="ngModel" required pattern="[a-zA-Z0-9'  *']*">
                                    </textarea>
                                <small *ngIf="descripcion.touched && descripcion.pristine" class="form-text error">Este
                                    campo es obligatorio</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-4">

                            <button [disabled]="myForm.invalid" type="submit" data-toggle="modal"
                                data-target="#exampleModal" style="background-color:#6d8eb2" class="btn ml-2">Guardar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <footer class="footer myFooter ">
        <div class="row">
            <div class="col-1 offset-5 mt-2 mb-3">
                <img class="footerIcon" routerLink="/home" src="/assets/home.png">
            </div>
        </div>
    </footer>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #dae9f6;">

            <img style="width:100%;" src="https://image.flaticon.com/icons/png/512/817/817835.png">


            <h3 class="text-center mt-1">PERFECTO!</h3>

            <div class="modal-footer" style="margin-right: 34vw; border-top: 0px">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>