.myNavbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: #6d8eb2;
}


.footerIcon{
    width: 10vw;
}

.myFooter{

    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #6d8eb2;
}


.myContainer{
    margin-top: 56px;
    margin-bottom: 50px;
    max-width: 100%;
}

.myBody{
    position:fixed;
    z-index: -1;
    height: 83vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://www.diabetes.org/sites/default/files/styles/paragraph_50_50/public/2019-06/understandingcarbs-desktop-5050.jpg");
   
}

.myFont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}