<div class="myBod">
</div>
<nav class="navbar myNavbar navbar-light">
    <span class="navbar-brand mb-0 h1 text-center text-light myFont"> PocketChef <img class="float-left" style="width: 7vw;"
            src="https://image.flaticon.com/icons/svg/129/129226.svg"></span>

</nav>

<div class="row nuevaReceta">
    <div class="col-12  mt-3 mb-3">
        <div class="card" style=" height: 12vh; width: 85vw; margin-left: 28px" routerLink="/nuevareceta">

            <p class="text-center mt-4 myFont">Añade tu propia receta!</p>

        </div>
    </div>
</div>
<div class="row listaReceta">
        <div class="col-12  mt-3 mb-3">
            <div class="card" style=" height: 12vh; width: 85vw; margin-left: 28px" routerLink="/lista">
    
                <p class="text-center mt-4 myFont">Lista de recetas</p>
    
            </div>
        </div>
    </div>

<footer class="footer myFooter">
    <div class="row">
        <div class="col-1 offset-5 mt-2 mb-3">
            <img class="footerIcon" routerLink="/home" src="https://image.flaticon.com/icons/svg/263/263115.svg">
        </div>
    </div>
</footer>