<div class="myBod">
    </div>
    <nav class="navbar myNavbar navbar-light bg-info">
        <span class="navbar-brand mb-0 h1 text-center"> PocketChef <img class="float-left" style="width: 7vw;"
                src="https://image.flaticon.com/icons/svg/129/129226.svg"></span>
    
    </nav>
  
    
    
    <footer class="footer myFooter bg-info">
        <div class="row">
            <div class="col-1 offset-5 mt-2 mb-3">
                <img class="footerIcon" routerLink="/home" src="https://image.flaticon.com/icons/svg/263/263115.svg">
            </div>
        </div>
    </footer>