<div class="col-12 myBody">
    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">

                <div class="card border-0 myCard" style="width: 18rem;">
                    <img class="card-img-top myBody cardImg" src="https://image.flaticon.com/icons/png/512/706/706164.png"
                        alt="Card image cap">
                    <div class="card-body myBody">
                        <p class="card-text cardText text-center">Selecciona tus ingredientes</p>
                    </div>

                </div>

            </div>
            <div class="carousel-item">

                <div class="card border-0 myCard" style="width: 18rem;">
                    <img class="card-img-top myBody cardImg" src="https://image.flaticon.com/icons/png/512/1721/1721476.png" alt="Card image cap">
                    <div class="card-body myBody">
                        <p class="card-text text-center cardText">Escoge entre nuestras recetas</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card border-0 myCard" style="width: 18rem;">
                    <img class="card-img-top myBody" src="https://image.flaticon.com/icons/png/512/817/817835.png" alt="Card image cap">
                    <div class="card-body myBody">
                        <p class="card-text text-center cardText">Añade tus propias recetas</p>
                        <button type="button" class="btn btn-outline-light myButton" routerLink="/login">Empezar</button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
