<div class="myBody">
    <nav class="navbar myNavbar navbar-light"> 
        <span class="navbar-brand mb-0 h1 text-center text-light myFont"> PocketChef <img class="float-left" style="width: 7vw;"
                src="/assets/chef.png"></span>

    </nav>


    <div class="row receta">
        <div class="col-12 " style="  padding:0px;">
            <div class="card" style="width: 100%;">

                <img style="height: 40vh" src="{{singleReceta[0]['imgUrl']}}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #dae9f6;">
                    
                    <h3 class="card-title myFont">
                        {{singleReceta[0]['nombre']}} </h3>
                    <h6 class="card-subtitle bold myFont">De: {{singleReceta[0]['autor']['userName']}} <span class="float-right"> <img class="" (click)="puntuar()" style="width: 7vw;"
                        src="/assets/thumbs-up.png">{{singleReceta[0]['puntuacion']}}</span>  </h6>
                    <hr>
                    <h5 clss="myFont">Ingredientes:</h5>

                    <div class="mt-1" *ngFor="let cantidad of cantidades, let i = index">

                        <p class=" cantidades mt-1 myFont"> {{cantidad}}</p>
                    </div>
                    <hr>
                    <h5 clss="myFont">Elaboración:</h5>
                    <p class="myFont">{{singleReceta[0]['instrucciones']}} </p>
                </div>
            </div>
        </div>
    </div>

</div>



<footer class="footer myFooter">
    <div class="row">
        <div class="col-1 offset-2 mt-2 mb-3">
            <img class="footerIcon" routerLink="/lista" src="/assets/return.png">
        </div>
        <div class="col-1 offset-2 mt-2 mb-3">
            <img class="footerIcon" routerLink="/home" src="/assets/home.png">
        </div>
    </div>
</footer>